.swiper-pagination-bullet {
  width: 0.94rem;
  height: 0.94rem;

  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.swiper-pagination-bullet-active {
  background: white;
}



.swiper-pagination {

  top: 900px;
}

@media (min-width: 480px) {
}

@media (min-width: 769px) {
}
